# Service settings
# Valid LOG_LEVEL values: trace, debug, info, warn, error, fatal, panic, disabled
LOG_LEVEL="info"

# Valid LOG_TYPE values: json, text
LOG_TYPE="text"

# XRPL protocol (compatible) server settings
XRPL_WEBSOCKET_URL="ws://localhost:6006"
XRPL_WEBSOCKET_FULLHISTORY_URL="wss://xrplcluster.com"

# Kafka settings
KAFKA_BOOTSTRAP_SERVER="localhost"
KAFKA_GROUP_ID="platform.local"
KAFKA_TOPIC_NAMESPACE="xrpl"

# Elasticsearch settings
ELASTICSEARCH_NAMESPACE="platform"
ELASTICSEARCH_URL="https://localhost:9200"
ELASTICSEARCH_USERNAME="elastic"
ELASTICSEARCH_PASSWORD=""
ELASTICSEARCH_FINGERPRINT=""

# docker-compose settings
ZOOKEEPER_VERSION=7.3.3
ZOOKEEPER_MEMORY_LIMIT=1G
KAFKA_VERSION=7.3.3
KAFKA_PORT=9092
KAFKA_BROKER_MEMORY_LIMIT=1G
